.form-input {
  &-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 20px;
  }
  &-field {
    width: 250px;
    height: 20px;
    margin: 5px;
    border-radius: 0px;
    border: 1px solid grey;
    background: transparent;
    padding: 2px;
  }
  &__label {
    &--required {
      color: red;
    }
  }
}

.error-message {
  color: red;
}