.cities- {
  &container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 20px;
  }
  &input {
    width: 257px;
    height: 26px;
    border-radius: 0px;
    border: 1px solid grey;
    background: transparent;
    padding: 4px;
    margin-right: 4px;
    &__option {

    }
  }
}